services:
  rabbitmq:
    image: rabbitmq:3-management
    ports: ["5672:5672", "15672:15672"]
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: { context: ./api }
    environment:
      RABBITMQ__HOST: rabbitmq
      RABBITMQ__USER: guest
      RABBITMQ__PASS: guest
      ASPNETCORE_URLS: http://+:8080
      JWT__KEY: "dev-local-change-me"
    ports: ["8080:8080"]
    depends_on:
      rabbitmq: { condition: service_healthy }

  worker:
    build: { context: ./worker }
    environment:
      RABBITMQ__HOST: rabbitmq
      RABBITMQ__USER: guest
      RABBITMQ__PASS: guest
      WORKER__PREFETCH: "10"
      WORKER__RETRYCOUNT: "3"
    ports: ["8081:8081"]
    depends_on:
      rabbitmq: { condition: service_healthy }